parameters:
    level: 5
    paths:
        - modules/servers/impulseminio
        - modules/addons/impulseminio_addon
        - includes/hooks
    excludePaths:
        - modules/servers/impulseminio/templates
    ignoreErrors:
        -
            message: '#on an unknown class#'
            reportUnmatched: false
        -
            message: '#Function logModuleCall not found#'
            reportUnmatched: false
        -
            message: '#Function encrypt not found#'
            reportUnmatched: false
        -
            message: '#Function decrypt not found#'
            reportUnmatched: false
        -
            message: '#Function add_hook not found#'
            reportUnmatched: false
        -
            message: '#Function localAPI not found#'
            reportUnmatched: false
        -
            message: '#has invalid type WHMCS#'
            reportUnmatched: false
        -
            message: '#unknown class WHMCS#'
            reportUnmatched: false
        -
            message: '#Access to an undefined property object#'
            reportUnmatched: false
    reportUnmatchedIgnoredErrors: false
