parameters:
    level: 5
    paths:
        - modules/servers/impulseminio
        - includes/hooks
    excludePaths:
        - modules/servers/impulseminio/templates
    ignoreErrors:
        # WHMCS classes and functions are not available outside the WHMCS runtime
        - '#.*WHMCS\\\\Database\\\\Capsule.*#'
        - '#Function logModuleCall not found#'
        - '#Function encrypt not found#'
        - '#Function add_hook not found#'
    reportUnmatchedIgnoredErrors: false
